# Copia este archivo a .env y ajusta los valores.
# NOTA: Estas son credenciales de laboratorio. CAMBIAR en producción.

# Configuración de Asterisk ARI
ARI_USER=ariuser
ARI_PASS=aripass
ARI_HOST=localhost
ARI_PORT=8088
APP_NAME=callcenter-app
AGENTE=PJSIP/6001

# Configuración de Base de Datos NoSQL
MONGO_URI=mongodb://admin:admin123@mongo:27017/marcacion_db?authSource=admin

# Configuración de Redis Queue
REDIS_HOST=redis
REDIS_PORT=6379

# Directorio de Grabaciones (Compartido)
# Usar /recordings dentro del contenedor de Docker o path local fuera de él
RECORDINGS_DIR=/call-controller

# Configuración del Dashboard Web
DASHBOARD_SECRET_KEY=clave_secreta_para_demo_super_secreta
DASHBOARD_USER=admin
DASHBOARD_PASS=admin123
